doctype html
html(lang="es")
    head
        title SBMLSPROPERTIES
        meta(charset="utf-8")
        script(src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous")
        script(src="public/scripts.js")
    body